{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "globals": {},
  "rules": {

    "no-console": [0],
    "no-shadow": [2, {"allow": ["fields"]}],
    "no-extra-semi": [0],
    "indent": [2, "tab"],
    "semi": [2, "always"],
    "camelcase": [1, {"properties": "never"}]
  }
}
